VIKUNJA_SERVICE_PUBLICURL=http://tasks.deployflow.ru/
VIKUNJA_DATABASE_HOST=postgres
VIKUNJA_DATABASE_PASSWORD=change_me
VIKUNJA_DATABASE_TYPE=postgres
VIKUNJA_DATABASE_USER=app_user
VIKUNJA_DATABASE_DATABASE=app_db
VIKUNJA_DATABASE_SSLMODE=disable